<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Benvenuto nell'APPietro!</h2>
  <h3>I miei oggetti prestati:</h3>
  <ion-list *ngFor="let object of oggettiPrestati">
    <ion-item-sliding>
      <ion-item color="{{object.restituito ? 'secondary' : 'danger'}}">
        <ion-avatar item-start>
          <img [src]="object.fotoPersona">
        </ion-avatar>
        <h2>{{object.nomeOggetto}}</h2>
        <p>Prestato a: {{object.nomePersona}}, In data: {{object.dataPrestito}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="dettaglioOggetto(object)">
          <ion-icon name="ios-more"></ion-icon>
          Dettagli
        </button>
        <button ion-button color="secondary" (click)="oggettoConsegnato(object)">
          <ion-icon name="checkmark"></ion-icon>
          Consegnato
        </button>
        <button ion-button color="danger" (click)="oggettoNonConsegnato(object)">
          <ion-icon name="close"></ion-icon>
          Non consegnato
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-list *ngIf="datiInseriti">
    <ion-item-sliding>
      <ion-item color="{{datiInseriti.restituito ? 'secondary' : 'danger'}}" >
        <ion-avatar item-start>
          <img [src]="datiInseriti.fotoPersona">
        </ion-avatar>
        <h2>{{datiInseriti.nomeOggetto}}</h2>
        <p>Prestato a: {{datiInseriti.nomePersona}}, In data: {{datiInseriti.dataPrestito}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="dettaglioOggetto(datiInseriti)">
          <ion-icon name="ios-more"></ion-icon>
          Dettagli
        </button>
        <button ion-button color="secondary" (click)="oggettoConsegnato(datiInseriti)">
          <ion-icon name="checkmark"></ion-icon>
          Consegnato
        </button>
        <button ion-button color="danger" (click)="oggettoNonConsegnato(datiInseriti)">
          <ion-icon name="close"></ion-icon>
          Non consegnato
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <button ion-button block (click)="AggiungiOggettoPrestato()">Aggiungi un oggetto prestato</button>
</ion-content>